.company-name{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.report-name{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.table-container{
	margin-top: 20px;
}

th {
    text-align: center;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

.table>tbody>tr>td{
	border:none;
}

.table>tfoot>tr>td{
	border-top:2px solid black;
}

.pos .pos-receipt-container {
    font-size: 0.75em;
}

.pos .pos-sale-ticket {
    text-align: left;
    width: 300px;
    background-color: white;
    font-size: 14px;
    padding-bottom:30px;
    display: inline-block;
    font-family: "Inconsolata";
    overflow: hidden;
}

.pos .pos-sale-ticket .emph{
    font-size: 20px;
    margin:5px;
}
.pos .pos-sale-ticket table {
    width: 100%;
    border: 0;
    table-layout: fixed;
}
.pos .pos-sale-ticket table td {
    border: 0;
    word-wrap: break-word;
}

.pos-center-align {
    text-align: center;
	margin: 0px;
	padding: 0px;
}

.pos .pos-right-align {
    text-align: right;
}

.pos .pos-disc-font {
    font-size: 12px;
    font-style:italic;
    color: #808080;
}

.pos .pos-sale-ticket .emph{
    font-size: 20px;
    margin:5px;
}

table.receipt-change{
	text-transform: uppercase;
}

.packlot-description{
	font-style: italic;
	font-color: gray;
	font-size: 80%;
}